<div class="inner-container">
  <div class="club-welcome-container row-fluid">
    <div class="club-welcome span12">
      <span class="club-welcome-text">Welcome, <%= current_user.name %>!</span>
    </div>
  </div>

  <div class="club-avatar-name-description row-fluid">
    <div class="club-avatar span4">
      <%= image_tag "#{@club.logo}" %>
    </div>

    <div class="club-name-description span8">
      <div class="club-name"><%= best_in_place_if can?(:update, @club), @club, :name, :type => :input %></div>
      <div class="club-description"><%= @club.description %></div>
    </div>
  </div>
</div>
