<div class="footer-container">
  <div class="footer-left">
    <div class="footer-left-logo">
      <span class="footer-logo"></span>
    </div>

    <div class="footer-left-links">
      <ul class="left-links">
        <li><%= link_to "Terms and Conditions", terms_and_conditions_path %></li>
      </ul>
    </div>
  </div>

  <div class="footer-right">
  </div>
</div>
