<div class="auth-error well">
  <h2 class="auth-error-heading">Oops! Looks like there was an issue</h2>

  <div class="auth-error-info">
    You do not have sufficient privileges to access this page.<br/>
    The error encountered was:
  </div>

  <div class="auth-error-violation"><%= @violation %></div>
</div>
