<div class="signup-confirmation">
  <div class="thank-you-heading">Thanks for signing up!</div>
  <div class="thank-you-subheading">
    Check your email for a signup confirmation.
    <br/>
    <br/>
    <div class="thank-you-junk-notice">
      Once you confirm your account via the link in the welcome email, you will automatically be redirected to the Sales Page of the club you were wishing to join, where you can elect your membership level.
    </div>
  </div>
</div>
