<div class="dmca-policy">
  <div class="dmca-details">
    <span class="hl hl-center">IfSimply – Content Reporting Procedure</span>
    <br/><br/>
    We at Simple Media Technology, LLC ("SMT", "IfSimply", or "IfSimply.com") believe in freedom of speech.
    IfSimply.com enables anyone to freely express their ideas and opinions, without censoring or endorsing them.
    <br/><br/>
    We take our Terms & Conditions of service very seriously and will suspend any Clubs that are found to be in
    violation. By the same token, we will not suspend Clubs if they are not in violation of our terms or policies,
    even if they are offensive or objectionable. We think the right response to bad or offensive ideas is to speak to
    them, not to censor them. Instead of asking us to suspend such a Club, please consider either responding in the
    Club's Discussion Board or on a site of your own, to engage in a dialogue.
    <br/><br/>

    <span class="hl hl-center">Reporting Content, Generally</span>
    <br/><br/>
    We encourage you to report any content that violates our Terms & Conditions or, if applicable, any copyrights
    that you hold.
    <br/><br/>
    To report content please email <a href="mailto:legal@simplemediatech.com">legal@SimpleMediaTech.com</a>.
    <br/><br/>
    <span class="hl">Before reporting a site with this form please verify that the Club in question is hosted by
    IfSimply</span>.  We have no control over websites that are not hosted by us. Please contact the appropriate web host
    with complaints. We only host Clubs that have "IfSimply.com" in their URL or that say, "powered by IfSimply.com" on
    the site.
    <br/><br/>

    <span class="hl">Our Response to Complaints</span><br/>
    We review and investigate all complaints that we receive. If we determine that reported content violates our terms
    of service, our general practice is to suspend the Club. We also may contact the site owner to inform them of the
    complaint.
    <br/><br/>
    If we receive a complaint and are not in a position to make a determination (for example whether something is
    defamatory or not), we defer to the judgment of a court. Please forward any legal process relating to a site hosted
    on IfSimply.com to <a href="mailto:legal@simplemediatech.com">legal@SimpleMediaTech.com</a>.
    <br/><br/>

    <span class="hl hl-center">Digital Millennium Copyright Act Reporting</span>
    <br/><br/>
    If you believe that content available by means of the Website (as defined in our
    <%= link_to "Terms and Conditions", terms_and_conditions_path %>) infringes one or more of your copyrights, please
    notify us by providing a written notice ("Infringement Notice") containing the information described below to the
    designated agent listed below. If IfSimply takes action in response to an Infringement Notice, it will make a good
    faith attempt to contact the party that made such content available by means of the most recent email address, if
    any, provided by such party to IfSimply.
    <br/><br/>
    <span class="hl">Your Infringement Notice may be forwarded to the party that made the content available or to third
    parties such as <%= link_to "ChillingEffects.org", "http://www.chillingeffects.org/" %>.</span>
    <br/><br/>
    Please be advised that you will be liable for damages (including costs and attorneys' fees) if you materially
    misrepresent that a product or activity is infringing your copyrights. Thus, if you are not sure content located on
    or linked-to by the Website infringes your copyright, you should consider first contacting an attorney.
    <br/>
    Please follow these steps to file a notice:
    <br/><br/>
    <ol>
      <li>
        <span class="hl">Verify that the Club in question is hosted by IfSimply.</span> We have no control over websites
        that are not hosted by us. Please contact the appropriate web host with complaints. We only host Clubs that have
        "ifsimply.com" in their URL or that say, "powered by ifsimply.com" on the site.
      </li>
      <li>
        <span class="hl">Contact the Club owner directly.</span> Go to the Club in question and leave a comment with
        your complaint to see if the matter can be resolved directly between you and the Club owner.
      </li>
      <li>
        <span class="hl">Send your complaint to our designated agent:</span><br/>
        <div class="dmca-agent">
          Keith Griffis<br/>
          108 West 13th Street<br/>
          Wilmington, Delaware 19801<br/>
          Phone: (617) 800-9502<br/>
          Fax:   (805) 888-3614<br/>
          Email: dmca@SimpleMediaTech.com<br/>
          Attn:  DMCA Complaint<br/>
        </div>
      </li>
    </ol>
    <br/>
    You must include the following for a valid Notice:<br/>
    <ul>
      <li>
        A physical or electronic signature of the copyright owner or a person authorized to act on their behalf;
      </li>
      <li>
        Identification of the copyrighted work claimed to have been infringed;
      </li>
      <li>
        A description of the nature and exact location of the content that you claim to infringe your copyright, in
        sufficient detail to permit IfSimply to find and positively identify that content. For example we require a link
        to the specific post (article, course, media link, etc.) that contains the content and a description of which
        specific portion of the post – an image, a link, the text, etc – your complaint refers to;
      </li>
      <li>
        Your name, address, telephone number and email address;
      </li>
      <li>
        A statement that you have a good faith belief that use of the material in the manner complained of is not
        authorized by the copyright owner, its agent, or the law; and
      </li>
      <li>
        A statement that the information in the notification is accurate, and under penalty of perjury, that you are
        either the copyright owner or a person authorized to act on their behalf.
      </li>
    </ul>
    <br/>
    <span class="hl">Please note that a copy of your infringement notice, including any contact information you provide
    (address, telephone number, and email address), will be forwarded to the user who uploaded the content at issue.</span>
    <br/><br/>
    If an Infringement Notice is valid, we are required by law to respond to it by disabling access to the allegedly
    infringing content. If you are an IfSimply.com User and access to portions of your Club have been disabled for this
    reason, we will notify you. You then have the option to send us a written counter-notice (a Counter-Notice) stating
    why your content does not infringe copyrights and asking for access to be reinstated. A valid counter-notice must
    be submitted pursuant to the following information:
    <br/><br/>

    <span class="hl">Digital Millennium Copyright Act – Counter Notice</span><br/>
    If you have received a
    <%= link_to "Digital Millennium Copyright Act (DMCA) Infringement Notice", "http://www.copyright.gov/onlinesp/" %>
    and believe it was submitted in error, you may submit a counter-notice. Counter-notices must be submitted by the
    IfSimply user who uploaded the material or an agent authorized to act on their behalf.
    <br/><br/>
    Please note that under Section 512(f) of the DMCA, any person who knowingly materially misrepresents that material
    or activity was removed or disabled by mistake or misidentification may be subject to liability. Thus, if you are not
    sure that the material was removed or disabled as a result of mistake or misidentification, you should consider first
    contacting an attorney.
    <br/><br/>
    Counter-Notices must be sent to our designated agent:
    <br/><br/>
    <div class="dmca-agent">
      Keith Griffis<br/>
      108 West 13th Street<br/>
      Wilmington, Delaware 19801<br/>
      Phone: (617) 800-9502<br/>
      Fax:   (805) 888-3614<br/>
      Email: dmca@SimpleMediaTech.com<br/>
      Attn:  DMCA Complaint<br/>
    </div>
    <br/>
    And must include the following:
    <ul>
      <li>
        Your name, address, phone number and physical or electronic signature;
      </li>
      <li>
        Identification of the allegedly infringing content and its location before removal or disabling of access;
      </li>
      <li>
        A statement under penalty of perjury that you believe in good faith that the content was removed by mistake
        or misidentification; and
      </li>
      <li>
        A statement that you consent to the jurisdiction of the U.S. Federal District Court for the judicial district
        in which you are located (or if you are outside the U.S., for any judicial district in which IfSimply may be
        found, namely, Massachusetts), and that you will accept service of process from the person who originally
        provided us with the Infringement Notice (the "Copyright Holder") or an agent of such person.
      </li>
    </ul>
    <br/>
    When we receive your counter-notice, we will forward it to the person who provided the original Infringement Notice.
    After 10 business days we will replace the removed material or cease disabling access to it, unless we receive notice
    from the person who submitted the Infringement Notice that he/she has filed an action seeking a court order to
    restrain you from engaging in infringing activity relating to the material on IfSimply.com.
  </div>
</div>
