<div class="signup-confirmation">
  <h1>Thank you for signing up!</h1>

  <p>
    Please check your email for confirmation instructions and details
    on how to start selling your knowledge!
  </p>
</div>
