<div class="signup-confirmation">
  <div class="thank-you-heading">Your Club is going to be Epic! We can feel it!</div>
  <div class="thank-you-subheading">
    Check your email for a signup confirmation.
    <br/>
    <br/>
    <div class="thank-you-junk-notice">
      The registration email can take a bit of time to arrive. In addition, some mail providers will filter
      the registration email into your spam or junk folder - search your mailbox for "admin@ifsimply.com"
      if you do not see an email in your inbox.
    </div>
  </div>

  <div class="thank-you-video">
    <div class="video-iframe">
      <%= render :partial => 'shared/video_iframe', :locals => { :id => '1', :video_url => 'ThankYou' } %>
    </div>
  </div>

  <div class="thank-you-details">
    We are really excited to help you create awesome clubs with no technical skills necessary.
    We provide the tools and we will teach you how to create great content and build a profitable
    and rewarding club.
  </div>
</div>
