<IfModule mod_passenger.c>
  Options -MultiViews

  PassengerResolveSymlinksInDocumentRoot on

  # Set this to whatever environment you'll be running in
  RailsEnv production

  RackBaseURI /

  # replace with actual username
  SetEnv GEM_HOME /home1/<USERNAME>/ruby/gems
</IfModule>
