test: &default
  # Credentials for REST APIs
  client_id:     <CLIENT_ID>
  client_secret: <CLIENT_SECRET>
  mode:          sandbox

  # Credentials for Classic APIs
  app_id:                <APP_ID>
  username:              <USERNAME>
  password:              <PASSWORD>
  signature:             <SIGNATURE>
  sandbox_email_address: <SANDBOX_EMAIL_ADDRESS>

production: &production
  # Credentials for REST APIs
  client_id:     <CLIENT_ID>
  client_secret: <CLIENT_SECRET>
  mode:          live

  # Credentials for Classic APIs
  app_id:    <APP_ID>
  username:  <USERNAME>
  password:  <PASSWORD>
  signature: <SIGNATURE>

development:
  <<: *default
