:clubs:
  default_name:        Your Club Name Here
  default_description: Your club description here
  default_logo:        iS_club_thumb.jpg
  default_price_cents: 1000
  min_price_cents:     1000
:courses:
  default_title:       Course Title Here
  default_description: Course description here
  default_logo:        iS_club_thumb.jpg
:lessons:
  default_title:      Lesson Title Here
  default_background: Add a Lesson Description (Required). Click here to edit this text.
  default_free:       false
:blogs:
  default_title:   Blog Title Here
  default_content: Blog content here
  default_free:    false
:discussion_boards:
  default_name:        Discussion Board Name Here
  default_description: Discussion board description here
:sales_pages:
  default_benefit1:       First benefit here
  default_benefit2:       Second benefit here
  default_benefit3:       Third benefit here
  default_call_to_action: Call to Action
  default_heading:        Sales Pages Heading Here
  default_sub_heading:    Sales Page Sub-Heading Here
:email:
  address:              <SMTP_ADDRESS>      # common: 'smtp.gmail.com'
  port:                 <SMTP_PORT>         # common: 587
  domain:               <SMTP_DOMAIN>       # common: 'gmail.com'
  user_name:            <ACCOUNT_USERNAME>
  password:             <ACCOUNT_PASSWORD>
  authentication:       <AUTH_TYPE>         # common: 'plain'
  enable_starttls_auto: <BOOLEAN_ENABLE>    # common: 'true'
