<div class="course-information">
  <%= render :partial => 'shared/welcome_message' %>

  <h1 class="course-title">
    <%= course.title %>
  </h1>

  <p class="course-description">
    <%= course.description %>
  </p>

  <hr class="course-divider" />
</div>
