<div class="discussion-board-information">
  <%= render :partial => 'shared/welcome_message' %>

  <div class="discussion-board-container row-fluid">
    <div class="discussion-board-name-description span12">
      <h1 class="discussion-board-name">
        <%= discussion_board.name %>
      </h1>

      <p class="discussion-board-description">
        <%= discussion_board.description %>
      </p>
    </div>
  </div>
</div>
