.devise-form {
  .account-heading {
    color:          #0064CB;
    font-size:      28px;
    font-weight:    bold;
    letter-spacing: 1px;
    line-height:    32px;
    margin:         20px auto;
    text-align:     center;
  }

  .account-password-status {
    height: 370px;

    .account-password,
    .account-status {
      height: 100%;

      .account-password-heading,
      .account-status-heading {
        -webkit-border-radius: 22px;
        -moz-border-radius:    22px;
        border-radius:         22px;

        background-color: #333;
        color:            #FFF;
        height:           45px;
        margin-bottom:    12px;
        padding-left:     12px;
        position:         relative;
        text-align:       center;

        h2 {
          display:        inline;
          font-family:    "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size:      24px;
          font-weight:    100;
          letter-spacing: 1px;
          position:       relative;
          top:            2px;
        }
      }
    }

    .account-password {
      .account-password-text {
        padding: 3px 12px;

        form#edit_user {
          .input {
            margin: 3px 0px;

            label {
              font-size: 16px;
            }

            span.hint {
              margin-left: 8px;
            }

            span.error {
              color:   red;
              display: inline-block;
              margin:  3px auto;
              width:   100%;
            }
          }

          input {
            margin-top: 3px;
          }

          input.btn {
            margin-top: 4px;
            width:      100px;
          }
        }
      }
    }

    .account-status {
      .account-status-text {
        padding: 0px 8px;

        .account-status-linked {
          .club-live-indicator {
            font-size:      24px;
            height:         30px;
            letter-spacing: 1px;
            margin-bottom:  12px;
            margin-top:     20px;
            text-align:     center;

            .club-live-highlight {
              color:       green;
              font-weight: bold;
            }

            .club-non-live-highlight {
              color:       red;
              font-weight: bold;
            }
          }

          .club-live-details {
            font-size:  14px;
            text-align: center;
          }

          .club-live-details.club-live {
            font-weight: bold;
            color:       green;
          }

          .club-live-details.club-non-live {
            font-weight: bold;
            color:       red;
          }
        }

        .account-status-paypal {
          margin-top: 35px;

          .paypal-heading {
            font-size:      24px;
            font-weight:    bold;
            letter-spacing: 1px;
            line-height:    28px;
            margin-bottom:  12px;

            span.label {
              letter-spacing: 0px;
              margin-top:     -3px;
              vertical-align: middle;
            }
          }

          .paypal-link {
            .verification-text {
              margin-bottom: 12px;

              .paypal-email {
                font-weight: bold;
              }
            }

            .paypal-update-button {
              padding: 4px 0px;
              width:   100px;
            }
          }
        }

        .account-status-paid-only {
          margin-top: 25px;

          .paid-only-heading {
            font-size:      24px;
            font-weight:    bold;
            letter-spacing: 1px;
            line-height:    28px;
            margin-bottom:  12px;
          }

          .paid-only-link {
            span.paid-only-sub-heading {
              display: inline-block;
            }

            .best_in_place {
              display:        inline-block;
              font-size:      25px;
              margin-left:    15px;
              vertical-align: middle;
            }

            .best_in_place:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .account-cancel {
    font-size:   20px;
    line-height: 24px;
    text-align:  center;

    a {
      color:           #333;
      text-decoration: underline;
    }
  }
}
