.devise-form {
  form#edit_user {
    .input {
      margin: 8px 0px;

      label {
        font-size: 16px;
      }

      span.hint {
        margin-left: 8px;
      }
    }

    input.btn {
      margin-top: 4px;
      width:      100px;
    }
  }

  .paypal-status {
    font-size:  16px;
    margin-top: 30px;

    .paypal-heading {
      font-size:   24px;
      font-weight: bold;
      margin:      20px auto;

      .verified-nav-status {
        margin-top:     1px;
        vertical-align: top;
      }

      .verified-nav-status:hover {
        cursor: pointer;
      }
    }

    .paypal-link {
      .verification-text {
        margin: 20px auto;

        span.paypal-email {
          font-weight: bold;
        }
      }
    }
  }

  p.cancel-account {
    font-size: 16px;

    a {
      margin-left: 6px;
    }
  }
}
