.article-information {
  .article-container {
    margin-top: 15px;

    .article-image {
      height:   200px;
      position: relative;
      width:    200px;

      img {
        left:     0px;
        margin:   auto;
        position: absolute;
        right:    0px;
        top:      0px;
      }

      .upload-image-button {
        opacity:         0.85;
        -moz-opacity:    0.85;
        -webkit-opacity: 0.85;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.85);

        bottom:    -30px;
        font-size: 14px;
        left:      20%;
        position:  absolute;
      }

      .upload-image-button:hover {
        opacity:         1;
        -moz-opacity:    1;
        -webkit-opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1);
      }

      .free-select {
        bottom:      -65px;
        font-size:   20px;
        font-weight: bold;
        left:        22%;
        line-height: 30px;
        position:    absolute;

        .best_in_place {
          display:     inline-block;
          font-style:  italic;
          font-weight: normal;
          text-align:  right;
          width:       35px;
        }

        .best_in_place:hover {
          cursor: pointer;
        }
      }
    }

    .article-title-content {
      .article-title {
        font-size:     30px;
        font-weight:   bold;
        line-height:   33px;
        margin-bottom: 14px;
        margin-top:    0px;
        max-height:    100px;
        overflow:      hidden;
        text-align:    center;

        input {
          text-align: center;
          width:      100%;
        }
      }

      .article-content {
        min-height: 400px;
        width:      100%;
      }
    }
  }
}

.article-information {
  margin-bottom: 25px;

  .article-controls {
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    border-radius:         4px;

    background-color: #333;
    color:            #FFF;
    height:           45px;
    margin-bottom:    12px;
    margin-top:       8px;
    padding-left:     12px;
    position:         relative;

    .add-article-post {
      display:  inline;
      position: absolute;
      right:    15px;
      top:      13px;

      .add-article-post-link {
        color:          #FFF;
        padding-bottom: 3px;
      }
    }
  }

  .article-posts {
    width: 100%;

    .no-articles-text {
      font-weight: normal;

      .create-first-article-link {
        color:       #333;
        font-style:  italic;
        font-weight: bold;
      }
    }

    hr {
      background-color: #AAA;
      height:           2px;
      width:            60%;
    }

    .article-post {
      height: 128px;
      margin: 12px auto;

      .article-logo {
        display: inline-block;
        width:   200px;

        img {
          display:    block;
          margin:     0px auto;
          max-height: 128px;
          max-width:  200px;
        }
      }

      .article-title-created-content {
        display:        inline-block;
        height:         128px;
        vertical-align: top;
        width:          700px;

        .article-title {
          font-size: 18px;

          .article-is-pro {
            color:        red;
            margin-right: 6px;
          }

          a {
            color: black;
          }
        }

        .article-created {
          font-style: italic;
          margin:     6px 0px;
        }

        .article-content {
          height:   80px;
          overflow: hidden;
        }
      }
    }
  }
}
