.club-avatar-name-description {
  height:     270px;
  margin-top: 20px;

  .club-avatar {
    img {
      height:    100%;
      max-width: 100%;
    }
  }

  .club-name-description {
    height: 100%;

    .club-name {
      font-size:   50px;
      font-weight: bold;
      height:      55px;
      line-height: 35px;
      text-align:  center;
      width:       100%;

      input {
        text-align: center;
        width:      100%;
      }
    }

    .club-description {
      font-size: 18px;
      height:    215px;
      width:     100%;

      textarea {
        width: 575px;
      }
    }
  }
}

.club-courses {
  height:     380px;
  margin-top: 15px;

  .course-listing-heading {
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    border-radius:         4px;

    background-color: #333;
    color:            #FFF;
    height:           45px;
    margin-bottom:    12px;
    padding-left:     12px;
    position:         relative;

    h2 {
      display:     inline;
      font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 200;
      position:    relative;
      top:         2px;
    }

    .add-club-course {
      display:  inline;
      position: absolute;
      right:    15px;
      top:      13px;

      .add-club-course-link {
        color:          #FFF;
        padding-bottom: 3px;
      }
    }
  }

  .club-course-listing {
    height:      300px;
    margin:      0px;
    padding:     15px auto;
    overflow-x:  auto;
    overflow-y:  hidden;

    h2 {
      font-size:   24px;
      font-weight: normal;

      .create-first-course-link {
        color:       #333;
        font-style:  italic;
        font-weight: bold;
      }
    }

    .courses-listing {
      height:  270px;
      padding: 8px 0px;

      .course {
        -moz-box-shadow:    0 -1px 12px rgba(3, 3, 3, 0.6);
        -webkit-box-shadow: 0 -1px 12px rgba(3, 3, 3, 0.6);
        box-shadow:         0 -1px 12px rgba(3, 3, 3, 0.6);

        -webkit-border-radius: 2px;
        -moz-border-radius:    2px;
        border-radius:         2px;

        background-color: #74c0e0;
        border:           1px solid #999;
        display:          inline-table;
        height:           100%;
        margin:           0px 11px;
        padding:          12px;
        position:         relative;
        text-align:       center;
        width:            252px;

        .course-logo {
          height:        170px;
          margin-bottom: 3px;
        }

        .course-title {
          background-color: #FFF;
          border-top:       1px solid #999;
          bottom:           0;
          font-size:        20px;
          font-weight:      bold;
          height:           55px;
          left:             0;
          line-height:      25px;
          overflow:         hidden;
          padding-top:      5px;
          position:         absolute;
          right:            0;

          a {
            color: #000;
          }
        }
      }

      .course.course-first {
        margin-left: 7px;
      }
    }
  }
}
