.club-avatar-name-description {
  margin-top: 20px;
  max-height: 300px;
  min-height: 200px;

  .club-avatar {
    position:   relative;
    text-align: center;

    img {
      max-height: 100%;
      max-width:  100%;
    }

    .upload-logo-button {
      opacity:         0.85;
      -moz-opacity:    0.85;
      -webkit-opacity: 0.85;
      filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.85);

      font-size: 14px;
      left:      30%;
      position:  absolute;
      top:       10%;
    }

    .upload-logo-button:hover {
      opacity:         1;
      -moz-opacity:    1;
      -webkit-opacity: 1;
      filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1);
    }
  }

  .club-name-description {
    height: 100%;

    .club-name {
      font-size:   48px;
      font-weight: bold;
      height:      45px;
      line-height: 35px;
      width:       100%;

      input {
        max-width: 620px;
        width:     100%;
      }
    }

    .club-sub-heading {
      font-size:   30px;
      font-style:  italic;
      font-weight: bold;
      height:      50px;
      line-height: 35px;
      width:       100%;

      input {
        max-width: 620px;
        width:     100%;
      }
    }

    .club-description {
      font-size:  18px;
      max-height: 215px;
      width:      100%;

      textarea {
        max-height: 215px;
        max-width:  620px;
        width:      100%;
      }
    }
  }
}

.club-courses {
  height:     355px;
  margin-top: 15px;

  .course-listing-heading {
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    border-radius:         4px;

    background-color: #333;
    color:            #FFF;
    height:           45px;
    margin-bottom:    12px;
    padding-left:     12px;
    position:         relative;

    h2 {
      display:     inline;
      font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 200;
      position:    relative;
      top:         2px;

      span.courses-count {
        font-size:   22px;
        position:    absolute;
        margin-left: 12px;
      }
    }

    .add-club-course {
      display:  inline;
      position: absolute;
      right:    15px;
      top:      13px;

      .add-club-course-link {
        color:          #FFF;
        padding-bottom: 3px;
      }
    }
  }

  .club-course-listing {
    height:  290px;
    margin:  0px;
    padding: 15px auto;

    h2 {
      font-size:   24px;
      font-weight: normal;

      .create-first-course-link {
        color:       #333;
        font-style:  italic;
        font-weight: bold;
      }
    }

    .courses-listing {
      height:  270px;
      padding: 8px 0px;

      .course {
        -moz-box-shadow:    0 -1px 12px rgba(3, 3, 3, 0.6);
        -webkit-box-shadow: 0 -1px 12px rgba(3, 3, 3, 0.6);
        box-shadow:         0 -1px 12px rgba(3, 3, 3, 0.6);

        -webkit-border-radius: 2px;
        -moz-border-radius:    2px;
        border-radius:         2px;

        background-color: #74c0e0;
        border:           1px solid #999;
        display:          inline-table;
        height:           100%;
        margin:           0px 11px;
        padding:          12px;
        position:         relative;
        text-align:       center;
        width:            274px;

        .course-logo {
          height: 185px;
          width:  274px;

          .course-logo-container {
            float:    left;
            height:   185px;
            margin:   0px auto;
            overflow: hidden;
            width:    275px;
          }
        }

        .course-title {
          background-color: #FFF;
          border-top:       1px solid #999;
          bottom:           0;
          font-size:        20px;
          font-weight:      bold;
          height:           55px;
          left:             0;
          line-height:      25px;
          overflow:         hidden;
          padding-top:      5px;
          position:         absolute;
          right:            0;

          a {
            color: #000;
          }
        }
      }

      .course.course-first {
        margin-left: 9px;
      }
    }
  }
}

.club-blogs-discussions {
  height: 325px;

  .club-blogs,
  .club-discussion-board {
    height: 100%;

    .blog-listing-heading,
    .discussion-board-listing-heading {
      -webkit-border-radius: 4px;
      -moz-border-radius:    4px;
      border-radius:         4px;

      background-color: #333;
      color:            #FFF;
      height:           45px;
      margin-bottom:    12px;
      padding-left:     12px;
      position:         relative;

      h2 {
        display:     inline;
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        position:    relative;
        top:         2px;

        span.blogs-count,
        span.discussion-board-count {
          font-size:   22px;
          position:    absolute;
          margin-left: 12px;
        }
      }

      .add-club-blog {
        display:  inline;
        position: absolute;
        right:    15px;
        top:      13px;

        .add-club-blog-link {
          color:          #FFF;
          padding-bottom: 3px;
        }
      }
    }

    .club-blog-listing,
    .club-discussion-board-listing {
      height:      265px;
      margin:      0px;
      padding:     15px auto;
      overflow-x:  auto;
      overflow-y:  hidden;

      h2 {
        font-size:   24px;
        font-weight: normal;

        .create-first-blog-link,
        .create-first-topic-link {
          color:       #333;
          font-style:  italic;
          font-weight: bold;
        }
      }
    }

    .club-discussion-board-listing {
      .topic-most-recents {
        .topic-recent {
          float:  left;
          margin: 6px auto;

          .topic-subject-date {
            .topic-subject {
              display:     inline-block;
              float:       left;
              font-size:   18px;
              font-weight: bold;

              a {
                color: #000;
              }
            }

            .topic-date {
              display:    inline-block;
              float:      right;
              font-style: italic;
            }
          }

          .topic-description {
            float: left;
          }
        }
      }
    }

    .blog-most-recent {
      height:  270px;
      padding: 8px 0px;

      .blog-title-date {
        max-height:    80px;
        margin-bottom: 12px;
        overflow:      hidden;

        .blog-title {
          display:     block;
          font-size:   26px;
          font-weight: bold;
          line-height: 30px;
          max-height:  62px;
          overflow:    hidden;

          a {
            color: black;
          }
        }

        .blog-date {
          display:    block;
          font-style: italic;
        }
      }

      .blog-info {
        height:        185px;
        margin-bottom: 4px;

        .blog-image {
          display:   inline-table;
          max-width: 128px;
        }

        .blog-content {
          display:        inline-block;
          max-height:     162px;
          margin-left:    8px;
          margin-top:     -5px;
          overflow:       hidden;
          vertical-align: top;
          width:          330px;
        }
      }
    }
  }
}

a.hover-heading {
  color: #FFF;
}
