.course-information {
  .course-title {
    font-size:   45px;
    line-height: 45px;
    margin:      15px auto;
    max-height:  100px;
    text-align:  center;
    width:       800px;

    input {
      text-align: center;
      width:      100%;
    }
  }

  .course-description {
    font-size:   18px;
    line-height: 18px;
    margin:      25px auto;
    width:       800px;

    textarea {
      width: 100%;
    }
  }

  .course-lessons {
    margin: 35px auto;

    .lesson-listing-heading {
      -webkit-border-radius: 4px;
      -moz-border-radius:    4px;
      border-radius:         4px;

      background-color: #333;
      color:            #FFF;
      height:           45px;
      margin-bottom:    12px;
      margin-top:       8px;
      padding-left:     12px;
      position:         relative;

      h2 {
        display:     inline;
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        position:    relative;
        top:         2px;
      }

      .add-course-lesson {
        display:  inline;
        position: absolute;
        right:    15px;
        top:      13px;

        .add-course-lesson-link {
          color:          #FFF;
          padding-bottom: 3px;
        }
      }
    }

    .course-lesson-listing {
      h2 {
        font-size:   24px;
        font-weight: normal;

        .create-first-lesson-link {
          color:       #333;
          font-style:  italic;
          font-weight: bold;
        }
      }

      hr {
        background-color: #CCC;
        height:           2px;
      }

      .lesson {
        .lesson-title {
          font-size:   30px;
          line-height: 30px;
        }

        .lesson-video {
          margin:     15px auto;
          text-align: center;
        }

        .lesson-background {
        }
      }
    }
  }
}
