.course-information {
  .course-logo-title-description {
    margin-top: 20px;

    .course-logo {
      position:   relative;
      text-align: center;

      img {
        max-height: 100%;
        max-width:  100%;
      }

      .upload-logo-button {
        opacity:         0.85;
        -moz-opacity:    0.85;
        -webkit-opacity: 0.85;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.85);

        font-size: 14px;
        left:      33%;
        position:  absolute;
        top:       10%;
      }

      .upload-logo-button:hover {
        opacity:         1;
        -moz-opacity:    1;
        -webkit-opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1);
      }
    }

    .course-title-description {
      .course-title {
        font-size:     50px;
        font-weight:   bold;
        max-height:    105px;
        line-height:   53px;
        margin-bottom: 6px;
        overflow:      hidden;
        text-align:    center;
        width:         100%;

        input {
          text-align: center;
          max-width:  620px;
          width:      100%;
        }
      }

      .course-description {
        font-size:  18px;
        max-height: 215px;
        width:      100%;

        textarea {
          max-height: 215px;
          max-width:  620px;
          width:      100%;
        }
      }
    }
  }

  .course-lessons {
    margin: 35px auto;

    .lesson-listing-heading {
      -webkit-border-radius: 4px;
      -moz-border-radius:    4px;
      border-radius:         4px;

      background-color: #333;
      color:            #FFF;
      height:           45px;
      margin-bottom:    12px;
      margin-top:       8px;
      padding-left:     12px;
      position:         relative;

      h2 {
        display:     inline;
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        position:    relative;
        top:         2px;
      }

      .add-course-lesson {
        display:  inline;
        position: absolute;
        right:    15px;
        top:      13px;

        .add-course-lesson-link {
          color:          #FFF;
          padding-bottom: 3px;
        }
      }
    }

    .course-lesson-listing {
      margin-left: 0px;

      h2 {
        font-size:   24px;
        font-weight: normal;

        .create-first-lesson-link {
          color:       #333;
          font-style:  italic;
          font-weight: bold;
        }
      }

      hr {
        background-color: #CCC;
        height:           2px;
      }

      .lessons-listing {
        .lesson {
          .lesson-title {
            .lesson-title-text {
              display:     inline;
              float:       left;
              font-size:   30px;
              line-height: 30px;
              width:       760px;

              input {
                max-width: 760px;
                width:     100%;
              }
            }

            .free-select {
              display:     inline;
              float:       right;
              font-size:   20px;
              line-height: 30px;

              .best_in_place {
                display:    inline-block;
                font-style: italic;
                text-align: right;
                width:      35px;
              }

              .best_in_place:hover {
                cursor: pointer;
              }
            }
          }

          .lesson-video {
            display:    inline-block;
            margin:     25px auto;
            text-align: center;
            width:      100%;

            iframe {
              border: 1px solid black;
            }

            .video-embed-source {
              font-size: 22px;
              margin:    15px auto;

              .video-embed-label {
                display: block;

                i {
                  font-weight: bold;
                }
              }

              .video-related {
                display:    block;
                margin-top: 8px;
              }

              .video-related:hover {
                cursor: pointer;
              }

              input {
                text-align: center;
                width:      600px;
              }
            }
          }

          .lesson-background {
            font-size:     20px;
            margin-bottom: 25px;
            max-height:    300px;

            textarea {
              width: 100%;
            }
          }
        }
      }

      .add-lesson-text {
        font-size:  24px;
        text-align: center;
        margin-top: 60px;

        .add-lesson-link {
          color:       #333;
          font-style:  italic;
          font-weight: bold;
        }
      }
    }
  }
}

.course-list-information {
  .course-controls {
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    border-radius:         4px;

    background-color: #333;
    color:            #FFF;
    height:           45px;
    margin-bottom:    12px;
    margin-top:       8px;
    padding-left:     12px;
    position:         relative;

      .add-course-lesson {
        display:  inline;
        position: absolute;
        right:    15px;
        top:      13px;

        .add-course-lesson-link {
          color:          #FFF;
          padding-bottom: 3px;
        }
      }

    .add-course {
      display:  inline;
      position: absolute;
      right:    15px;
      top:      13px;

      .add-course-link {
        color:          #FFF;
        padding-bottom: 3px;
      }
    }
  }

  .club-courses-list {
    width: 100%;

    hr {
      background-color: #AAA;
      height:           2px;
      width:            60%;
    }

    .club-course {
      height: 128px;
      margin: 12px auto;

      .course-logo {
        display: inline-block;
        width:   200px;

        img {
          display:    block;
          margin:     0px auto;
          max-height: 128px;
          max-width:  200px;
        }
      }

      .course-title-description {
        display:        inline-block;
        margin-left:    12px;
        vertical-align: top;
        width:          700px;

        .course-title {
          font-size:     18px;
          margin-bottom: 12px;

          a {
            color: black;
          }
        }

        .course-description {
        }
      }
    }
  }
}
