.devise-modal {
  left:   54%;
  height: 600px;
  width:  450px;

  .modal-body {
    height:     570px;
    max-height: none;
  }
}

.devise-information {
  border-radius:         10px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;

  border:  5px solid #0077CB;
  height:  550px;
  margin:  0px auto;
  padding: 5px;
  width:   400px;

  .devise-heading {
    color:          #FD8500;
    font-family:    "Londrina Solid";
    font-size:      30px;
    letter-spacing: 1px;
    line-height:    30px;
    margin-top:     5px;
    text-align:     center;
  }

  .devise-sub-heading {
    margin-bottom: 4px;
    margin-top:    4px;
    text-align:    center;
  }

  .devise-errors {
    color:       red;
    font-size:   18px;
    font-weight: bold;
    margin-left: 50px;
    width:       85%;
  }

  .confirmation-resend-elements,
  .login-elements {
    margin-left: 50px;

    .email-fields,
    .password-fields {
      margin-top: 15px;

      label {
        font-size:   20px;
        font-weight: 200;
        line-height: 20px;
      }
    }

    .remember-me-signin {
      margin-top: 10px;

      .remember-me {
        display:    inline-block;
        margin-top: 9px;

        input,
        label {
          display: inline-block;
        }
      }

      .signin {
        display:      inline-block;
        float:        right;
        margin-right: 80px;
        margin-top:   5px;

        input {
          color:     #000;
          font-size: 16px;
          width:     140px;
        }
      }
    }
  }

  .signup-elements {
    margin-left: 50px;

    .name-fields,
    .email-fields,
    .password-fields,
    .password-confirmation-fields {
      label {
        font-size:   16px;
        font-weight: 200;
        line-height: 16px;
      }

      span.error {
        color:          red;
        display:        inline-table;
        float:          right;
        margin-left:    5px;
        vertical-align: bottom;
        width:          120px;
      }
    }

    .signup {
      display:    inline-block;
      margin-top: 5px;

      input {
        color:     #000;
        font-size: 15px;
        width:     140px;
      }
    }
  }

  .password-reset-elements {
    margin-left: 50px;

    .email-fields {
      label {
        font-size:   16px;
        font-weight: 200;
        line-height: 16px;
      }

      span.error {
        color:          red;
        display:        inline-table;
        float:          right;
        margin-left:    5px;
        vertical-align: bottom;
        width:          120px;
      }
    }

    .resetpass {
      display:    inline-block;
      margin-top: 5px;

      input {
        color:     #000;
        font-size: 15px;
        width:     140px;
      }
    }
  }

  .sign-up-link,
  .sign-in-link {
    color:       #0077CB;
    margin-left: 70px;
    margin-top:  10px;

    span.sign-up-label,
    span.sign-in-label {
      color:        #FD8500;
      margin-right: 12px;
    }

    a {
      text-decoration: underline;
    }
  }

  .other-links {
    color:       #0077CB;
    margin-left: 50px;
    margin-top:  12px;
  }
}
