.devise-modal {
  left:   54%;
  height: 600px;
  width:  450px;

  .modal-body {
    height:     570px;
    max-height: none;
  }
}

.devise-information {
  border-radius:         10px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;

  border:  5px solid #0077CB;
  margin:  0px auto;
  padding: 5px;
  width:   400px;

  .devise-heading {
    color:          #FD8500;
    font-family:    "Londrina Solid";
    font-size:      30px;
    letter-spacing: 1px;
    line-height:    30px;
    margin-top:     5px;
    text-align:     center;
  }

  .devise-sub-heading {
    margin-top: 8px;
    text-align: center;
  }

  .devise-errors {
    color:       red;
    font-weight: bold;
  }

  .login-elements {
    margin-left: 50px;

    .email-fields,
    .password-fields {
      margin-top: 15px;

      label {
        font-size:   20px;
        font-weight: 200;
        line-height: 20px;
      }
    }

    .remember-me-signin {
      margin-top: 10px;

      .remember-me {
        display: inline-block;
      }

      .signin {
        display:      inline-block;
        float:        right;
        margin-right: 80px;
        margin-top:   5px;

        input {
          color:     #000;
          font-size: 16px;
          width:     140px;
        }
      }
    }
  }

  .sign-up-link {
    color:       #0077CB;
    margin-left: 70px;
    margin-top:  10px;

    span.sign-up-label {
      color:        #FD8500;
      margin-right: 12px;
    }

    a {
      text-decoration: underline;
    }
  }

  .other-links {
    color:       #0077CB;
    margin-left: 50px;
    margin-top:  12px;
  }

  .powered-by-logo {
    margin-top: 12px;
    text-align: center;

    .logo.logo-inverse {
      display: inline-block;

      span {
        background: url(logo_200w_121h_inverse.png) no-repeat 0 0;
        display:    inline-table;
        height:     120px;
        margin:     0px auto;
        margin-top: 8px;
        width:      205px;
      }
    }
  }
}
