.discussion-board-information {
  .discussion-board-name {
    font-size:   45px;
    line-height: 47px;
    margin:      15px auto;
    max-height:  100px;
    overflow:    hidden;
    text-align:  center;
    width:       100%;

    input {
      text-align: center;
      width:      100%;
    }
  }

  .discussion-board-description {
    font-size:   18px;
    line-height: 20px;
    margin:      20px auto;
    max-height:  160px;
    overflow:    hidden;
    width:       100%;

    textarea {
      width: 100%;
    }
  }

  .discussion-board-topics {
    margin: 30px auto;

    .discussion-board-topic-listing {
      margin-left: 0px;

      h2 {
        font-size:   24px;
        font-weight: normal;

        .create-first-topic-link {
          color:       #333;
          font-style:  italic;
          font-weight: bold;
        }
      }

      hr {
        background-color: #CCC;
        height:           2px;
      }
    }
  }
}
