html,body {
  overflow: scroll !important;
}

.vjs-default-skin .vjs-big-play-button {
  top:    50%                 !important;
  left:   50%                 !important;
  margin: -4em auto auto -6em !important;
}

body .container {
  min-height: 700px;
  width:      973px;
}

.hidden-element {
  display: none !important;
  height:  0px  !important;
  width:   0px  !important;
}

div {
  word-wrap: break-word;
}

.modal {
  .modal-header {
    font-size:   18px;
    font-weight: bold;
  }

  .modal-body {
    .verified-account-link {
      font-style:  italic;
      font-weight: bold;
    }
  }
}

.powered-by-logo {
  text-align: center;

  .logo.logo-inverse {
    display: inline-block;

    span {
      background: url(logo_200w_121h.png) no-repeat 0 0;
      display:    inline-table;
      height:     120px;
      margin:     0px auto;
      margin-top: 8px;
      width:      205px;
    }
  }
}

.file-upload {
  .recommended-size {
    font-size:     14px;
    font-weight:   bold;
    margin-bottom: 12px;
  }

  .file-info {
    height: 200px;

    .existing-file-image {
      font-size:       18px;
      font-weight:     bold;
      margin:          0px 25px;
      max-height:      190px;
      max-width:       150px;
      text-align:      center;
      text-decoration: underline;

      img {
        margin-top: 12px;
      }
    }

    .new-file-select {
      height:     100%;
      text-align: center;

      label.file-upload-label {
        cursor:     pointer;
        height:     18px;
        margin-top: 60px;
        overflow:   hidden;
        width:      150px;

        input {
          opacity:         0;
          -moz-opacity:    0;
          -webkit-opacity: 0;
          filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);

          height:   100%;
          position: relative;
          width:    auto;
        }
      }

      .selected-file-preview {
        font-size:  16px;
        font-style: italic;
        height:     25px;
        margin-top: 14px;
        width:      100%;

        .file-preview-text {
          font-style:   normal;
          font-weight:  bold;
          margin-right: 8px;
        }
      }
    }
  }
}

.purr {
  background-color: #FCC;
  border:           2px solid #C66;
  padding:          20px;
  position:         fixed;
  right:            100px;
  top:              50px;
  width:            250px;

  &:first-letter {
    text-transform: uppercase;
  }
}

.welcome-navigation {
  border-bottom: 1px solid #DDDDDD;
  height:        35px;
  padding:       12px 0px;

  .welcome-container {
    width: 265px;

    .welcome-text {
      display:     inline-block;
      font-size:   25px;
      line-height: 34px;
      text-align:  left;
      width:       100%;
    }
  }

  .user-navigation-container {
    float:       right;
    height:      100%;
    margin-left: 3px;
    text-align:  right;
    width:       705px;

    a {
      color:           #000;
      display:         inline-block;
      font-weight:     bold;
      height:          35px;
      line-height:     35px;
      margin-left:     8px;
      text-align:      center;
      text-decoration: none;
      vertical-align:  middle;
    }

    a.selected {
      color: #008BC5;
    }

    a:hover {
      color: #FDA600;
    }

    .non-admin-links,
    .admin-links {
      margin-top:  -10px;
      padding-top: 12px;
    }

    .non-admin-links {
      display: inline-block;
      height:  40px;

      a.club-link {
        width: 80px;
      }

      a.courses-link {
        width: auto;
      }

      a.article-posts-link {
        width: auto;
      }

      a.discussions-link {
        margin-right: 4px;
        width:        auto;
      }
    }

    .admin-links {
      border-radius:         10px;
      -webkit-border-radius: 10px;
      -moz-border-radius:    10px;

      background-color: #FFFFCC;
      border:           2px solid #FED554;
      display:          inline-block;
      height:           27px;
      padding-right:    4px;
      position:         relative;

      .admin-heading {
        color:        #008BC5;
        font-weight:  bold;
        margin-top:   -22px;
        padding-left: 8px;
        position:     relative;
        text-align:   center;
        top:          9px;
      }

      .admin-links-container {
        a.sales-page-link {
          margin-left: 4px;
          width:       80px;
        }

        a.upsell-page-link {
          width: 85px;
        }

        a.subscribers-page-link {
          width: 70px;
        }

        a.admin-page-link {
          width: 50px;
        }
      }
    }
  }
}

.video-container {
  .video-embed-source {
    .video-embed-label {
      i.icon-question-sign:hover {
        cursor: pointer;
      }
    }

    .video-related {
      textarea {
        min-height: 25px !important;
      }
    }
  }
}
