.logo-signup-container {
  height: 160px;
  margin: 0px auto;
  width:  900px;

  .logo {
    display:       inline-table;
    padding-right: 20px;
    padding-top:   5px;
    width:         250px;

    span {
      background: url(header_logo.png) no-repeat 0 0;
      display:    inline-table;
      height:     200px;
      margin:     0px auto;
      width:      331px;
    }
  }

  .signup {
    display:      inline-table;
    float:        right;
    margin-right: 20px;
    margin-top:   25px;

    .capture-signup {
      display:      inline-table;
      font-size:    22px;
      font-weight:  bold;
      margin-right: 15px;
      margin-top:   3px;
    }

    .learn-more-button {
      display: inline-table;

      i {
        line-height: 0.8em;
      }
    }
  }
}

.capture-search-container {
  background:    url(home_background.png) no-repeat 0 0;
  border-bottom: 2px solid #294f90;
  height:        400px;
  margin-top:    -80px;
  padding:       10px 0px;
  width:         100%;
  z-index:       100;

  .capture-search-wrapper {
    margin:    0px auto;
    max-width: 940px;

    .capture {
      color:          white;
      font-family:    'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size:      45px;
      font-weight:    bold;
      line-height:    1.20;
      margin-top:     75px;
      text-align:     center;
      text-shadow:    2px 2px 8px black;
    }

    .search {
      border-radius:         15px;
      -webkit-border-radius: 15px;
      -moz-border-radius:    15px;

      background-color: rgba(255, 255, 255, 0.4);
      height:           100px;
      margin:           0px auto;
      margin-top:       50px;
      width:            700px;

      .search-container {
        height:   100%;
        position: relative;

        .search-box {
          background-color: white;
          font-size:        22px;
          height:           40px;
          margin-left:      25px;
          position:         absolute;
          top:              25%;
          width:            450px;
        }

        .submit-search {
          height:      25px;
          margin-left: 515px;
          position:    absolute;
          top:         25%;
          width:       120px;

          i {
            line-height: 0.8em;
          }
        }
      }
    }
  }
}

.about-container {
  .row {
    margin:    20px auto;
    max-width: 972px;

    .about-item {
      font-size: 16px;
      width:     30%;
    }
  }
}

.learn-more-container {
  margin-top: 40px;
}
