.logo-signup-container {
  height: 160px;
  margin: 0px auto;
  width:  972px;

  .logo {
    display:       inline-table;
    padding-right: 20px;
    padding-top:   5px;
    width:         250px;

    span {
      background: url(logo_200w_121h_inverse.png) no-repeat 0 0;
      display:    inline-table;
      height:     200px;
      margin:     0px auto;
      width:      331px;
    }
  }

  .signup {
    display:      inline-table;
    float:        right;
    margin-right: 20px;
    margin-top:   25px;

    .capture-signup {
      display:      inline-table;
      font-size:    22px;
      font-weight:  bold;
      margin-right: 15px;
      margin-top:   3px;
    }

    .learn-more-button {
      display: inline-table;

      i {
        line-height: 0.8em;
      }
    }
  }
}

.about-container {
  .row {
    margin:    20px auto;
    max-width: 972px;

    .about-item {
      font-size: 16px;
      width:     30%;
    }
  }
}

.signup-confirmation {
  letter-spacing: 1px;
  margin:         20px auto;
  max-width:      972px;
  text-align:     center;

  .thank-you-heading {
    color:         #FF9900;
    font-size:     40px;
    line-height:   36px;
    margin-bottom: 15px;
  }

  .thank-you-subheading {
    color:       #0077CB;
    font-size:   22px;
    line-height: 25px;
  }

  .thank-you-details {
    color:       #0077CB;
    font-size:   20px;
    line-height: 25px;
    margin:      0px auto;
    margin-top:  15px;
    width:       700px;
  }

  .thank-you-video {
    display:    inline-block;
    height:     450px;
    margin:     15px auto 0px auto;
    text-align: center;
    width:      680px;

    .video-iframe {
      border-radius:         0 0 50% 50% / 0 0 25px 25px;
      -webkit-border-radius: 0 0 50% 50% / 0 0 25px 25px;
      -moz-border-radius:    0 0 50% 50% / 0 0 25px 25px;

      background-color: #151515;
      height:           405px;
      margin:           0px auto;
      padding:          10px;
      padding-bottom:   30px;
      width:            660px;
    }
  }
}
