.learn-more-container {
  min-height: 700px;

  .logo-sign-up-container {
    height: 121px;
    margin: 0px auto;
    width:  972px;

    .logo.logo-inverse {
      display:    inline-block;
      margin-top: 6px;

      span {
        background: url(logo_200w_121h.png) no-repeat 0 0;
        display:    inline-table;
        height:     200px;
        margin:     0px auto;
        width:      331px;
      }
    }

    .sign-up-club {
      float:        right;
      font-size:    18px;
      font-weight:  bold;
      margin-right: 45px;
      margin-top:   53px;

      a {
        letter-spacing: 1px;
        margin-left:    12px;
        margin-top:     -3px;
        width:          100px;
      }
    }
  }

  .capture-graphics-container {
    margin: 15px auto 0px auto;
    width:  100%;

    .capture-container {
      height: 90px;
      margin: 0px auto 12px auto;
      width:  780px;

      .capture-super {
        color:       #fd8500;
        font-family: "Londrina Solid";
        font-size:   32px;
        height:      40px;
        line-height: 40px;

        .capture-left,
        .capture-right {
          display: inline-block;
          width:   49%;
        }

        .capture-left {
          float:      left;
          text-align: left;
        }

        .capture-right {
          float:      right;
          text-align: right;
        }
      }

      .capture-sub {
        color:          #0077cb;
        font-family:    "Fredericka the Great";
        font-size:      48px;
        letter-spacing: 2px;
        line-height:    48px;
        text-align:     center;
      }
    }

    .graphics-container {
      color:            #FFF;
      background-color: #0077cb;
      font-family:      "Fredericka the Great";
      height:           425px;
      position:         relative;
      width:            100%;

      .clouds-top {
        text-align: center;
        width:      100%;

        span {
          background: url(clouds_top.png) no-repeat 0 0;
          display:    inline-table;
          height:     54px;
          margin:     0px auto;
          width:      651px;
        }
      }

      .clouds-internal {
        margin: 0px auto;
        width:  830px;

        .easy-heading {
          font-size: 26px;
          margin:    14px 0px;
        }

        .easy-steps-container {
          .easy-step {
            display:    inline-block;
            text-align: center;
            width:      270px;

            .step-heading {
              font-size: 26px;
              margin:    18px 0px;
            }
          }
        }
      }

      .clouds-bottom {
        bottom:     -7px;
        position:   absolute;
        text-align: center;
        width:      100%;

        span {
          background: url(clouds_bottom.png) no-repeat 0 0;
          display:    inline-table;
          height:     83px;
          margin:     0px auto;
          width:      805px;
        }
      }
    }
  }

  .people-saying {
    margin: 0px auto 25px auto;
    width:  972px;

    .people-heading {
      color: #0077CB;
      font-size:     24px;
      line-height:   34px;
      margin-bottom: 0px auto 25px auto;
    }

    .people-refs {
      display: inline-block;

      .face-image {
        margin-right: 12px;
        height:       150px;
      }

      .media-body {
        display:     table;
        font-size:   16px;
        font-weight: bold;
        height:      150px;
        line-height: 26px;

        .media-content {
          display:        table-cell;
          vertical-align: middle;
        }
      }
    }

    .people-refs.right-ref {
      float: right;
    }
  }

  .info-signup-container {
    height: 1025px;

    .sign-up-button {
      margin-top: 12px;
      text-align: center;
      width:      100%;

      .arrow-left,
      .arrow-right {
        height: 50px;
        width:  150px;
      }

      .arrow-left {
        margin-right: 12px;
      }

      .arrow-right {
        margin-left: 12px;
      }

      a {
        color:       #000;
        font-size:   22px;
        font-weight: bold;
        margin:      auto;
        width:       250px;
      }
    }

    .how-it-works {
      margin: 12px auto 0px auto;

      .how-video {
        border: 8px solid #3c4348;
        height: 337px;
        margin: 0px auto;
        width:  600px;
      }
    }

    .learn-about {
      margin: 25px auto 0px auto;
      height: 550px;
      width:  930px;

      .learn-about-heading {
        color:         #0077CB;
        font-size:     24px;
        line-height:   34px;
        margin-bottom: 25px;
        text-align:    center;
      }

      .learn-topic-row {
        color:       #888;
        height:      225px;
        margin-left: 0px;
        width:       930px;

        .learn-topic {
          display:     inline-block;
          margin-left: 90px;
          text-align:  center;
          width:       250px;

          .learn-icon {
            img {
              max-height: 95px;
            }
          }

          .learn-heading {
            font-family: "Londrina Solid";
            font-size:   21px;
            font-weight: bold;
            margin:      12px auto;
          }

          .learn-details {
            font-size: 18px;
          }
        }

        .learn-topic.first {
          margin-left: 0px;
        }
      }
    }
  }
}
