.learn-logo-container {
  height: 130px;
  margin: 0px auto;
  width:  850px;

  span.how-it-works-logo {
    background:  url(logo_200w_121h.png) no-repeat 0 0;
    height:      115px;
    margin-left: -90px;
    position:    absolute;
    width:       195px;
  }

  .how-it-works-header {
    color:          #0077cb;
    display:        inline-block;
    font-family:    "Fredericka the Great";
    font-size:      75px;
    letter-spacing: 2px;
    line-height:    48px;
    margin-top:     45px;
    text-align:     center;
    width:          100%;
  }
}

.info-video-container {
  background-color: #0077cb;
  height:           400px;
  padding-top:      15px;

  .info-video-buffer {
    border-radius:         8px;
    -webkit-border-radius: 8px;
    -moz-border-radius:    8px;

    background-color: #FFF;
    height:           365px;
    margin:           auto;
    padding:          10px;
    width:            584px;

    .info-video {
      height: 100%;
      width:  100%;
    }
  }
}

.info-signup-container {
  height: 550px;

  .sign-up-button {
    margin-top: 12px;
    text-align: center;
    width:      100%;

    .arrow-left,
    .arrow-right {
      height: 50px;
      width:  150px;
    }

    .arrow-left {
      margin-right: 12px;
    }

    .arrow-right {
      margin-left: 12px;
    }

    a {
      color:       #000;
      font-size:   22px;
      font-weight: bold;
      margin:      auto;
      width:       250px;
    }
  }

  .learn-about {
    margin: 50px auto 0px auto;
    height: 480px;
    width:  930px;

    .learn-topic-row {
      color:       #888;
      height:      225px;
      margin-left: 0px;
      width:       930px;

      .learn-topic {
        display:     inline-block;
        margin-left: 90px;
        text-align:  center;
        width:       250px;

        .learn-icon {
          img {
            max-height: 95px;
          }
        }

        .learn-heading {
          font-family: "Londrina Solid";
          font-size:   21px;
          font-weight: bold;
          margin:      12px auto;
        }

        .learn-details {
          font-size: 18px;
        }
      }

      .learn-topic.first {
        margin-left: 0px;
      }
    }
  }
}
