.welcome-navigation {
  margin: 0px auto;
  width:  973px;
}

.sales-page-information {
  margin:     0px auto;
  text-align: center;

  .sales-page-heading {
    color:       #FF9900;
    font-size:   43px;
    line-height: 48px;
    margin:      20px auto;
    max-height:  140px;
    overflow:    hidden;
    width:       973px;
  }

  .color-band {
    background-color: #0077CB;
    padding-top:      9px;
    width:            100%;

    .sales-page-sub-heading {
      color:          #FFF;
      font-size:      30px;
      font-weight:    200;
      letter-spacing: 3px;
      line-height:    35px;
      margin:         17px auto;
      margin-top:     0px;
      max-height:     85px;
      overflow:       hidden;
      width:          973px;

      textarea {
        letter-spacing: 3px;
      }
    }

    .capture-content {
      display:    inline-block;
      min-height: 290px;
      margin:     0px auto;
      width:      973px;

      .capture-resource {
        display:        inline-block;
        height:         260px;
        vertical-align: middle;

        .video-iframe {
          background-color: #FFF;
          padding:          4px;

          iframe {
            border:         1px solid black;
            height:         250px;
            vertical-align: middle;
          }
        }
      }

      .capture-block {
        border-radius:         12px;
        -webkit-border-radius: 12px;
        -moz-border-radius:    12px;

        background-color: #CCCCFF;
        display:          inline-block;
        min-height:       250px;
        margin-left:      50px;
        padding:          8px 20px 8px 20px;
        vertical-align:   middle;
        width:            290px;

        .sales-page-call-to-action {
          font-family:   "Londrina Solid";
          font-size:     26px;
          line-height:   30px;
          margin:        0px auto;
          margin-bottom: 6px;
          max-height:    105px;
          overflow:      hidden;
        }

        .sales-page-call-details {
          font-size:  18px;
          min-height: 180px;
          text-align: left;

          textarea {
            text-align: left;
          }
        }

        .club-buy {
          display:        inline-block;
          vertical-align: top;

          .subscribe-button {
            color:          #000;
            font-family:    "Londrina Solid";
            font-size:      22px;
            height:         25px;
            letter-spacing: 2px;
            padding-top:    8px;
            width:          255px;
          }
        }
      }

      .update-embed-url {
        display:    block;
        margin:     0px auto;
        text-align: left;
        width:      973px;

        .video-embed-source {
          font-size:   20px;
          line-height: 20px;
          margin:      10px auto;

          .video-embed-label {
            display:      inline-block;
            margin-left:  12px;
            margin-right: 16px;

            i {
              font-weight: bold;
            }
          }

          .video-related {
            display:        inline-block;
            height:         25px;
            overflow:       hidden;
            vertical-align: middle;
            width:          690px;
          }

          .video-related:hover {
            cursor: pointer;
          }

          input {
            width: 400px;
          }
        }
      }
    }
  }

  .benefits-container {
    color:          #333333;
    letter-spacing: 1px;
    margin:         25px auto;
    margin-bottom:  50px;
    margin-top:     15px;
    text-align:     left;
    width:          973px;

    .sales-page-learn {
      font-size: 26px;
    }

    .benefits {
      font-size:   22px;
      margin-left: 40px;

      .benefit {
        height:      55px;
        line-height: 25px;
        width:       100%;

        .benefit-bullet {
          display:        inline-block;
          vertical-align: top;

          img {
            max-height: 70px;
          }
        }

        .benefit-container {
          display:    inline-block;
          margin-top: 15px;
          width:      845px;

          textarea {
            letter-spacing: 1px;
          }
        }
      }
    }
  }

  .sales-page-details {
    color:          #333333;
    font-size:      20px;
    letter-spacing: 1px;
    line-height:    25px;
    margin:         0px auto;
    text-align:     left;
    width:          973px;
  }
}
