.club-subscription-information {
  .upsell-page-heading {
    color:         #FF9900;
    font-size:     35px;
    line-height:   45px;
    margin:        0px auto;
    overflow:      hidden;
    text-align:    center !important;
    width:         100%   !important;
  }

  .upsell-page-sub-heading {
    color:          #0066CC;
    font-family:    "Londrina Solid";
    font-size:      28px;
    font-weight:    100;
    letter-spacing: 3px;
    line-height:    38px;
    margin:         10px auto;
    overflow:       hidden;
    text-align:     center !important;
    width:          100%   !important;

    textarea {
      letter-spacing: 3px;
    }
  }

  .pro-member-info {
    font-size:  18px;
    text-align: center;
  }

  table.club-subscription-information {
    border-collapse: separate;
    margin:          0px auto;
    margin-top:      10px;
    width:           900px;

    tr {
      .subscribe-button-container {
        height:     100%;
        text-align: center;
        width:      100%;

        a.subscribe-button {
          height:     20px;
          margin-top: 13px;
          width:      150px;

          span.btn-text {
            color:       #333;
            display:     inline-block;
            font-family: "Londrina Solid";
            font-size:   22px;
            margin-top:  -3px;
          }
        }
      }

      .heading-basic-subscribe {
        a {
          margin-bottom: 9px;
          margin-top:    16px !important;
        }
      }

      .heading-pro-subscribe {
        a {
          margin-top: 5px !important;
        }
      }

      td {
        padding: 3px;
      }
    }

    .basic-number,
    .pro-number {
      width: 200px;
    }

    thead {
      th {
        border-top-left-radius:          22px;
        -webkit-border-top-left-radius:  22px;
        -moz-border-top-left-radius:     22px;
        border-top-right-radius:         22px;
        -webkit-border-top-right-radius: 22px;
        -moz-border-top-right-radius:    22px;

        vertical-align: top;
      }

      th.basic-number {
        background-color: #CCCCFF;
        border-left:      2px solid #DEDEDE;
        border-right:     2px solid #DEDEDE;
        border-top:       2px solid #DEDEDE;

        .member-label {
          letter-spacing: 1px;
          margin-top:     10px;
          font-family:    "Londrina Solid";
          font-size:      26px;
        }

        .cost-label {
          color:         #333333;
          font-size:     24px;
          font-style:    italic;
          margin-bottom: 10px;
          margin-top:    18px;
        }
      }

      th.pro-number {
        background-color: #FFEBCB;
        border-left:      2px solid #FDCF89;
        border-right:     2px solid #FDCF89;
        border-top:       2px solid #FDCF89;

        .member-label {
          letter-spacing: 1px;
          margin-top:     10px;
          font-family:    "Londrina Solid";
          font-size:      26px;
        }

        .cost-label {
          color:       #FF9900;
          font-family: "Londrina Solid";
          font-size:   26px;
          line-height: 36px;

          .club-price-currency {
            display:        inline-block;
            vertical-align: middle;
          }

          .club-price {
            display:        inline-block;
            text-align:     left;
            vertical-align: middle;
            min-width:      60px;

            textarea {
              white-space: nowrap;
            }
          }

          .club-price-frequency {
            display:        inline-block;
            vertical-align: middle;
          }
        }

        .free-trial-label {
          color:          gray;
          font-style:     italic;
          letter-spacing: 1px;
        }
      }
    }

    tbody {
      tr {
        height:         100px;
        vertical-align: top;
      }

      td.basic-number,
      td.pro-number {
        border-top:  2px solid #999999;
        font-size:   22px;
        text-align:  center;

        form {
          margin: 0px;
        }
      }

      td.basic-number {
        background-color: #CCCCFF;
        border-left:      2px solid #DEDEDE;
        border-right:     2px solid #DEDEDE;
        vertical-align:   middle;

        img {
          max-height: 90px;
        }

        img.unavailable-icon {
          height: 55px;
        }

        .discussion-read-only {
          color:          #333;
          font-size:      22px;
          font-style:     italic;
          letter-spacing: 1px;
          margin-bottom:  3px;
        }

        .discussion-no-add-topics {
          color:          #333;
          font-size:      16px;
          font-style:     italic;
          letter-spacing: 1px;
        }
      }

      td.pro-number {
        background-color: #FFEBCB;
        border-left:      2px solid #FDCF89;
        border-right:     2px solid #FDCF89;
        vertical-align:   middle;

        img {
          max-height: 90px;
        }

        img.unavailable-icon {
          height: 55px;
        }
      }

      td.meta {
        border-top:  2px solid #999999;
        border-left: 2px solid #999999;
        width:       290px;

        .meta-icon {
          img {
            max-width:      32px;
            vertical-align: top;
          }
        }

        .meta-label {
          color:          #333333;
          display:        inline-block;
          font-size:      22px;
          font-style:     italic;
          letter-spacing: 1px;
          margin-left:    8px;
          margin-top:     6px;
        }

        .meta-information {
          color:        gray;
          font-size:    16px;
          font-style:   italic;
          margin-left:  6px;
          margin-right: 12px;
          margin-top:   3px;
        }
      }

      td.last {
        border-bottom: 2px solid #999999;
      }
    }

    tfoot {
      td {
        border-bottom-left-radius:          22px;
        -webkit-border-bottom-left-radius:  22px;
        -moz-border-bottom-left-radius:     22px;
        border-bottom-right-radius:         22px;
        -webkit-border-bottom-right-radius: 22px;
        -moz-border-bottom-right-radius:    22px;

        height:         70px;
        vertical-align: top;
      }

      td.basic-number {
        background-color: #CCCCFF;
        border-bottom:    2px solid #DEDEDE;
        border-left:      2px solid #DEDEDE;
        border-right:     2px solid #DEDEDE;
      }

      td.pro-number {
        background-color: #FFEBCB;
        border-bottom:    2px solid #FDCF89;
        border-left:      2px solid #FDCF89;
        border-right:     2px solid #FDCF89;
      }
    }
  }
}
