.user-information {
  .user-icon-name-description {
    margin-top: 25px;

    .user-icon {
      position:   relative;
      text-align: center;

      img {
        max-height: 256px;
        max-width:  220px;
      }

      .upload-icon-button {
        opacity:         0.85;
        -moz-opacity:    0.85;
        -webkit-opacity: 0.85;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.85);

        font-size: 14px;
        left:      23%;
        position:  absolute;
        top:       10%;
      }

      .upload-icon-button:hover {
        opacity:         1;
        -moz-opacity:    1;
        -webkit-opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1);
      }
    }

    .user-name-description {
      .user-name {
        font-size:   34px;
        font-weight: bold;
        line-height: 34px;
      }

      .user-description {
        font-size:   24px;
        line-height: 28px;
        margin-top:  15px;
        max-height:  235px;
        overflow:    hidden;
      }
    }
  }

  .user-clubs-listing {
    margin-top: 52px;

    .owned-clubs,
    .subscribed-clubs {
      line-height: 22px;
      margin-top:  12px;

      .clubs-label {
        font-size:   22px;
        font-weight: bold;
      }

      .clubs-listing {
        font-size:  20px;

        .subscription-name {
          font-style: italic;
          margin-top: 9px;

          a {
            color: #333;
          }
        }

        .subscription-name.first {
          margin-top: 0px;
        }
      }
    }
  }
}

.paypal-confirm-modal {
  width:  450px;

  .modal-body {
    text-align: center;

    .paypal-verification {
      border-radius:         10px;
      -moz-border-radius:    10px;
      -webkit-border-radius: 10px;

      border:  5px solid #0077CB;

      input {
        margin: 15px auto;
      }

      input[type='text'] {
        text-align:     center;
        vertical-align: top;
        width:          260px;
      }

      input[type='submit'] {
        height: 30px;
        width:  100px;
      }

      .paypal-email-errors {
        color:       red;
        font-size:   15px;
        font-weight: bold;
      }

      .paypal-note {
        margin-top: 15px;
        width:      100%;

        .paypal-note-heading,
        .paypal-note-content {
          display:   inline-block;
          font-size: 12px;
        }

        .paypal-note-heading {
          font-weight:    bold;
          vertical-align: top;
          width:          60px;
        }

        .paypal-note-content {
          text-align: left;
          width:      300px;
        }
      }
    }
  }
}
