.user-information {
  .user-icon-name-description {
    margin-top: 25px;

    .user-icon {
      position:   relative;
      text-align: center;

      img {
        max-height: 256px;
        max-width:  220px;
      }

      .upload-icon-button {
        opacity:         0.85;
        -moz-opacity:    0.85;
        -webkit-opacity: 0.85;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.85);

        font-size: 14px;
        left:      23%;
        position:  absolute;
        top:       10%;
      }

      .upload-icon-button:hover {
        opacity:         1;
        -moz-opacity:    1;
        -webkit-opacity: 1;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1);
      }
    }

    .user-name-description {
      .user-name {
        font-size:   34px;
        font-weight: bold;
        line-height: 34px;
      }

      .user-description {
        font-size:   24px;
        line-height: 24px;
        margin-top:  15px;
      }
    }
  }

  .user-clubs-listing {
    margin-top: 52px;

    .owned-clubs,
    .subscribed-clubs {
      line-height: 22px;
      margin-top:  12px;

      .clubs-label {
        font-size:   22px;
        font-weight: bold;
      }

      .clubs-listing {
        font-size:  20px;

        .subscription-name {
          font-style: italic;
          margin-top: 9px;

          a {
            color: #333;
          }
        }

        .subscription-name.first {
          margin-top: 0px;
        }
      }
    }
  }
}
