.user-information {
  .user-icon-name-description {
    margin-top: 25px;

    .user-icon {
      position:   relative;
      text-align: center;

      img {
        box-shadow:         3px 3px 8px black;
        -webkit-box-shadow: 3px 3px 8px black;
        -moz-box-shadow:    3px 3px 8px black;

        border:     2px solid black;
        padding:    5px;
        max-height: 180px;
        max-width:  180px;
      }
    }

    .user-name-description {
      .user-name {
        font-size:   34px;
        font-weight: bold;
        line-height: 34px;
      }

      hr.blue-divider {
        background-color: #0064CB;
        height:           4px;
        margin:           3px auto;
      }

      .user-description {
        font-size:   20px;
        line-height: 25px;
        margin-top:  10px;
        max-height:  235px;
        overflow:    hidden;
      }
    }
  }

  .user-clubs-listing {
    margin-top: 20px;

    .owned-clubs,
    .subscribed-clubs {
      line-height: 22px;
      margin-top:  12px;

      .clubs-listing {
        .user-club-label,
        .user-subscriptions-label {
          color:         #0064CB;
          font-size:     30px;
          font-weight:   bold;
          line-height:   34px;
          margin-bottom: 12px;
          text-align:    center;
        }

        .subscription-name {
          font-size:   20px;
          margin-top:  15px;
          margin-left: 22px;

          .resolve-form,
          i.icon-remove,
          .subscription-level,
          .subscription-club-name {
            vertical-align: middle;
          }

          .resolve-form {
            display:     inline-block;
            margin-left: -22px;
            width:       75px;

            form {
              input.resolve-subscription-submit {
                border-radius:         3px;
                -moz-border-radius:    3px;
                -webkit-border-radius: 3px;

                background-color: #f89406;
                border:           0px;
                color:            #fff;
                font-family:      "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight:      bold;
                height:           22px;
                margin-top:       -2px;
                text-shadow:      0 -1px 0 rgba(0, 0, 0, 0.25)
              }
            }
          }

          i.icon-remove {
            color:           #b94a48;
            display:         inline-block;
            text-decoration: none;
          }

          .subscription-level {
            color:      #FF9900;
            display:    inline-block;
            text-align: center;
            width:      65px;
          }

          .subscription-club-name {
            display:   inline-block;
            max-width: 545px;

            a {
              color:           #333;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .owned-clubs {
      .clubs-listing {
        border-radius:         10px;
        -webkit-border-radius: 10px;
        -moz-border-radius:    10px;

        background-color: #FFFFCC;
        border:           3px solid #FF9900;
        padding:          8px;

        .subscription-name {
          margin-bottom: 12px;
          margin-left:   20px;

          a {
            color:           #000;
            text-decoration: underline;
          }
        }
      }
    }

    .subscribed-clubs {
      margin-top: 32px;
    }
  }
}

.paypal-confirm-modal {
  width:  450px;

  .modal-body {
    text-align: center;

    .paypal-verification {
      border-radius:         10px;
      -moz-border-radius:    10px;
      -webkit-border-radius: 10px;

      border: 5px solid #0077CB;

      input {
        margin: 15px auto;
      }

      input[type='text'] {
        text-align:     center;
        vertical-align: top;
        width:          260px;
      }

      input[type='submit'] {
        height: 30px;
        width:  100px;
      }

      .paypal-email-errors {
        color:       red;
        font-size:   15px;
        font-weight: bold;
      }

      .paypal-note {
        margin-top: 15px;
        width:      100%;

        .paypal-note-heading,
        .paypal-note-content {
          display:   inline-block;
          font-size: 12px;
        }

        .paypal-note-heading {
          font-weight:    bold;
          vertical-align: top;
          width:          60px;
        }

        .paypal-note-content {
          text-align: left;
          width:      300px;
        }
      }
    }
  }
}
